<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group has-validation">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome" [ngClass]="aplicaCssErro('nome')" />
      <div class="invalid-feedback">Nome é obrigatório</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email" class="form-label">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="email" formControlName="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')" />
      <div class="valid-feedback">E-mail válido!</div>
      <div class="invalid-feedback">Digite um e-mail válido</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <button type="submit" class="btn" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
